#attention{
    display: none;
}
/*
@include medium{
    @include portrait{
        #attention{
            position: absolute;
            display: inline-block;
            width: 100vw;
            height: 100vh;
            background-color: black;
            z-index: 100;
            text-align: center;
            p{
                color: white;
                font-size: 4em;            
                transform: translateY(250%);
            }
        }
    }
}*/
body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    background:linear-gradient(#3C669B, #14002A);
    @include fonds;
    position: relative;
}
#immeuble{
    background:no-repeat url("./../img/background/immeuble_mobile.svg");
    background-size:cover;
    position: absolute;
    z-index: 10;
    @include fonds;
    @include medium{
        @include portrait{
            background:no-repeat url("./../img/background/immeuble_mobile.svg");
        }
        @include landscape{
            background:no-repeat url("./../img/background/immeuble_large.svg");
            background-size:cover;
        }
    }
    @include large{
        background:no-repeat url("./../img/background/immeuble_large.svg");
        background-size:auto, 600vh;
    }
}
section {
    height: 100vh;
    width: 100vw;
    text-align:center;
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
section {
    a{
        @include fleche;
        &.bas{
            @include fleche_bas;
        }
        &.haut{
            @include fleche_haut;
        }
        &.left{
            @include fleche_left;
            @include left;
        }
        &.home{
            bottom: 6vh;    
            font-size: 4vh;  
            z-index: 100;
            @include large{
                font-size: 8vh;
                bottom: 8vh;
            }
        }  
    }
}

article{
width: 55vw;
hyphens: auto;
z-index: 10;
transform: translatex(6vh);
@include medium{
    @include landscape{
        transform: translateX(12vh);
    }
}
@include large{
    transform: translatex(12vh);
}
h1{
    font-family: 'Rock Salt', cursive;
    color:$title-color;
    font-size: 8vw;
    text-transform: uppercase;
    padding-bottom: 3vh;
    transform: translateY(50px) scale(0.5);
    opacity: 0;
    transition: 0.5s;
    @include medium{
        font-size: 5vw;
        padding-bottom: 8vh;
    }
    @include large{
        font-size: 3vw;
        padding-bottom: 6vh;
    }
}
p{
    color: $secondary-color;
    transform: translateY(50px) scale(0.5);
    opacity: 0;
    transition: 1s;
    font-size: 4.5vw;
    text-align: justify;
    @include medium{
        font-size: 2.5vw;
    }
    @include large{
        font-size: 1.8vw;
    }
}
}
.section--reached{
    article{
        h1{
            opacity: 1;
            transform: none;
        }
        p{
            opacity: 1;
            transform: none;
        }
    }
}
.discover{
    display: block;
    position: relative;
    margin-top: 13vh;
    @include moove(20%,2s);
    @include medium{
        margin-top: 12vh;
    }
    @include large{
        margin-top: 15vh;
    }
    strong{
        color: white;
        font-size: 6vw;
        font-family: 'Permanent Marker', cursive;
        @include medium{
            font-size: 4vw;
        }
        @include large {
            font-size: 2.5vw;
        }
    }
    img{
        position: absolute;
        top: -12vh;
        left: 5vw;
        height:10vh;
        @include large{
            transform: scaleX(-1) rotateZ(-230deg);
            height: 20vh;
            top: 2vh;
            left:11vw;
        }
    }
}
