.objet:nth-child(1){   
    position: absolute;
    opacity: 0.40;
    z-index: 0;
    left: 25vh;
    top: 160vh;
    width: 50vw;
    @include large{
        top: 180vh;
        left: 90vh;
        width: 30vw;
    }
}
