#welcome{
    img{
        height:30vh;
        width: auto;
        position: absolute;
        top: 10vh;
        left: 30vw;
        @include moove(15%, 6s);
        @include medium{
            height: 40vh;
            top: 5vh;
            left: 30vw;
            @include landscape{
                left: 60vw;
            }
        }
        @include large{
            height: 50vh;
            left: 65vw;
        }
    }
    a{
        @include fleche;
        @include fleche_bas;
    }
}