@mixin fonds {
    height: 600vh;
	width: 100vw;
}
@mixin moove {
    @keyframes bounce{
        0% {top: 20vh;}
        50% {top: 18vh;}
        100% {top: 20vh;}
    }
    animation-duration: 3s;
    animation-name: bounce;
    animation-iteration-count: infinite;
}
@mixin fleche{
    display: inline-block;
    position: absolute;     
    color: white;
    transform: translateX(-35%); 
    &:hover{
        color: grey;
    }    
    z-index: 10;
}
@mixin fleche_bas{
    bottom: 1.5vh;    
    font-size: 8vh;  

}
@mixin fleche_haut{
    top: 6vh;
    font-size: 4vh;
}