@mixin fonds {
    height: 600vh;
	width: 100vw;
}
@mixin moove($max:10%,$temps:6s) {
    @keyframes bounce{
        0% {transform: translateY(0%)}
        50% {transform: translateY($max)}
        100% {transform: translateY(0%)}
    }
    animation-duration: $temps;
    animation-name: bounce;
    animation-iteration-count: infinite;
}
@mixin left {
    @keyframes mooves{
        0% {transform: translateY(0%);}
        10% {transform: translateY(-50%);}
        20% {transform: translateY(0%);}
        100% {transform: translateY(0%);}
    }
    animation-duration: 3s;
    animation-name: mooves;
    animation-iteration-count: infinite;
}
@mixin fleche{
    display: inline-block;
    position: absolute;     
    color: white;
    &:hover{
        color: grey;
    }   
    z-index: 10;
}
@mixin fleche_bas{
    bottom: 1.5vh;    
    font-size: 8vh;  
    z-index: 100;
}
@mixin fleche_haut{
    top: 6vh;
    font-size: 4vh;
    z-index: 100;
}
@mixin fleche_left{
    top: 48vh;
    left: 7vw;
    font-size: 6vh;
    color: $secondary-color;
    &:hover{
        color:$blue;
    }  
    @include medium{
        font-size: 5vh;
        top: 49vh;
        left: 5vw;
        @include landscape{
            left: 7vw;
        }
    }
    @include large{
        font-size: 10vh;
        top: 42vh;
        left: 6vw;
    }
}